.side {
  background-color: gold;
height: 100%;

  display: flex;

  /* align-items: center; */
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.side button {
   background-color: rgb(2, 35, 99);
  font-size: 20px;

  padding: 10px;
  color: aliceblue;
  border-left: rgb(205, 10, 121) 5px solid; 
}

.side button:hover {
  background-color: rgb(205, 10, 121);
  transition: 0.5s;
}

.side h4, .side h2{
 background-color: aqua;
 padding: 10px;
 text-align: center;
}